<div class="container">
    <h1>Listado libros</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." name="filterBook" [(ngModel)]="filterBook">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Titulo</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books | filter: filterBook">
                        <td>{{book.ISBN}}</td>
                        <td>{{ book.titulo}}</td>
                        <td>{{ book.precio}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
